<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
<tring>

https://is.gd/NpjjIh
</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>org.tihmstar.h3lix</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>

				
 				<string>
ألصق هنا أسم التطبيق
❤ سناب عثمان ❤
رفع: sumow
❤ 🔥🔥 ❤
👇حسابي في سناب شات sumow9209
@ضع حسابك او موقعك هنا
❤ 🔥🔥 ❤
				</string>
				
            </dict>
        </dict>
    </array>
</dict>
</plist>